# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.vercel

# Rust/Cargo Build Exclusions
target
.cargo_target_temp
isolated_target
fresh_target
target_check
Cargo.lock
wasm
*.wasm
*.pem
*_db.json

